.glass{
    height: 30px !important;
}
.leaflet-bar-part-single:before {
    top: 19px !important;
    left: 16px !important;
    width: 7px !important;
}
.leaflet-bar-part-single:after{
    height: 12px !important;
    width: 12px !important;
}