.timeline--container {
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 2000;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    opacity: 0.7;
    &:hover{
      opacity: 0.9;
    }
  }
  
  .container {
    width: 10%;
    height: 100%;
  }
